/* REGULAR */
@font-face {
    font-family: "Figtree";
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

/* ITALIC */
@font-face {
    font-family: "Figtree Italic";
    src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "FigtreeBold";
    src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Figtree SemiBold";
    src: url(./assets/fonts/static/Figtree-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
}

.card {
    filter: drop-shadow(8px 5px 0px black);
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
    height: 522px;
    width: 384px;
    display: flex;
    flex-direction: column;
    transition: all .1s linear;
}

.card:hover {
    filter: drop-shadow(10px 8px 0px black);
}

.illustration-article {
    padding: 24px;
    border-radius: 30px;
}

.content {
    margin: 0 24px;
}

.content h4 {
    display: inline;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 16px;
    background-color: hsl(47, 88%, 63%);
    font-family: 'FigtreeBold';
}

.publish-date {
    font-size: 14px;
    font-family: 'Figtree Semibold';
    padding: 12px 0;
}

.content h2 {
    padding: 12px 0;
    font-family: 'FigtreeBold';
    cursor: pointer;
    transition: .2s all linear;
}

.content h2:hover {
    color: hsl(47, 88%, 63%);
}

.description {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #7F7F7F;
}

.author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px;
}

.author img {
    width: 32px;
}

.author p {
    padding-left: 12px;
    font-family: 'FigtreeBold';
    font-size: 14px;
    line-height: 150%;
    color: #111111;

}

@media (max-width: 400px) {
    .card {
        width: 327px;
        height: 501px;
    }

    .content h2 {
        width: 279px;
        height: 30px;
    }

    .description {
        width: 300px;
        height: 60px;
        line-height: 150%;
        margin-top: 24px;
    }

    .author {
        padding-top: 48px;
    }
}